{
  "env":{
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "react/prop-types": [2],
    "react/jsx-uses-react": 2,
    "react/react-in-jsx-scope": 2,
    "import/prefer-default-export": "off",
    "no-return-await": "off"
  },
  "extends": [
    "prettier",
    "prettier/react"
  ]
}
