@import '../fonts/fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  line-height: 1.5em;
  font-family: 'BogleWebBlack', Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  line-height: 1.5em;
}

/* Set link styles */
a, a:active, a:focus, a:hover {
  text-decoration: underline;
  color: #000;
}

/* Remove outline from input fields */
textarea,
select,
input,
button {
  outline: none;
}

/* Responsive Images */
img {
	max-width: 100%;
	height: auto;
}

main {
  margin: 0 auto 5% auto;
  max-width: 1500px;
  min-width: 400px;
}

/*** Flexbox ***/
.flex-grid {
  display: flex;
}

.col {
  flex: 1
}

/* Small Screens */
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

/* Gutters */
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

/*** Grid ***/

