.grid-container {
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: auto auto auto;
}

.grid-container > div {
  padding: 1%;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
 }

 [class*="grid-item"] > h1 {
   margin-top: 0;
 }
